body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:10px;
  width:380px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:138px;
  top:143px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:131px;
  top:155px;
  width:321px;
  height:45px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:45px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:135px;
  top:160px;
  width:35px;
  height:35px;
  color:#333333;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u6_img.mouseDown {
}
#u6.mouseDown {
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:192px;
  top:162px;
  width:200px;
  height:30px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u9 {
  position:absolute;
  left:0px;
  top:3px;
  width:200px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:131px;
  top:200px;
}
#u10_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:70px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:70px;
}
#u12 {
  position:absolute;
  left:2px;
  top:27px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:10px;
  top:6px;
  width:200px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u14 {
  position:absolute;
  left:0px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:10px;
  top:27px;
  width:200px;
  height:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u16 {
  position:absolute;
  left:0px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:10px;
  top:47px;
  width:303px;
  height:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:20px;
}
#u18 {
  position:absolute;
  left:0px;
  top:2px;
  width:303px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:131px;
  top:270px;
}
#u19_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:70px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:70px;
}
#u21 {
  position:absolute;
  left:2px;
  top:27px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:10px;
  top:6px;
  width:200px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:10px;
  top:27px;
  width:200px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:10px;
  top:47px;
  width:303px;
  height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:2px;
  width:303px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:131px;
  top:340px;
}
#u28_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:70px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:70px;
}
#u30 {
  position:absolute;
  left:2px;
  top:27px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:10px;
  top:6px;
  width:200px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:10px;
  top:27px;
  width:200px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:10px;
  top:47px;
  width:303px;
  height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:2px;
  width:303px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:131px;
  top:410px;
}
#u37_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:70px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:70px;
}
#u39 {
  position:absolute;
  left:2px;
  top:27px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:10px;
  top:6px;
  width:200px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u41 {
  position:absolute;
  left:0px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:10px;
  top:27px;
  width:200px;
  height:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u43 {
  position:absolute;
  left:0px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:10px;
  top:47px;
  width:303px;
  height:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:20px;
}
#u45 {
  position:absolute;
  left:0px;
  top:2px;
  width:303px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:131px;
  top:480px;
}
#u46_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u46_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:70px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:70px;
}
#u48 {
  position:absolute;
  left:2px;
  top:27px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:10px;
  top:6px;
  width:200px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u50 {
  position:absolute;
  left:0px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:10px;
  top:27px;
  width:200px;
  height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u52 {
  position:absolute;
  left:0px;
  top:2px;
  width:200px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:10px;
  top:47px;
  width:303px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:20px;
}
#u54 {
  position:absolute;
  left:0px;
  top:2px;
  width:303px;
  word-wrap:break-word;
}
