body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:10px;
  width:380px;
  height:744px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:744px;
}
#u1 {
  position:absolute;
  left:2px;
  top:364px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:138px;
  top:143px;
  width:308px;
  height:13px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:13px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-2px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:131px;
  top:155px;
  width:321px;
  height:45px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:45px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:215px;
  top:160px;
  width:150px;
  height:30px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:3px;
  width:150px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:135px;
  top:160px;
  width:35px;
  height:35px;
  color:#333333;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u8_img.mouseDown {
}
#u8.mouseDown {
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:131px;
  top:201px;
  width:321px;
  height:160px;
  color:#333333;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:160px;
}
#u11 {
  position:absolute;
  left:2px;
  top:72px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:239px;
  top:206px;
}
#u12_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:148px;
  color:#333333;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:148px;
}
#u14 {
  position:absolute;
  left:2px;
  top:66px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:36px;
  top:34px;
  width:34px;
  height:15px;
  font-size:12px;
  color:#9B9C95;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:34px;
  top:52px;
  width:37px;
  height:18px;
  font-size:18px;
  color:#9B9C95;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:-2px;
  width:37px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:159px;
  top:233px;
  width:42px;
  height:20px;
  font-size:14px;
  color:#006A2A;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u20 {
  position:absolute;
  left:0px;
  top:2px;
  width:42px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:159px;
  top:251px;
  width:61px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:388px;
  top:233px;
  width:42px;
  height:20px;
  font-size:14px;
  color:#006A2A;
  text-align:right;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:2px;
  width:42px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:351px;
  top:253px;
  width:79px;
  height:28px;
  font-size:24px;
  color:#FFFFFF;
  text-align:right;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:28px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:131px;
  top:361px;
  width:321px;
  height:8px;
  color:#333333;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:8px;
}
#u28 {
  position:absolute;
  left:2px;
  top:-4px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:131px;
  top:369px;
  width:321px;
  height:253px;
  color:#333333;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:253px;
}
#u30 {
  position:absolute;
  left:2px;
  top:118px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:141px;
  top:369px;
  width:303px;
  height:80px;
  overflow:hidden;
}
#u31_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:80px;
  color:#333333;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:80px;
}
#u33 {
  position:absolute;
  left:2px;
  top:32px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:13px;
  top:12px;
  width:77px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:13px;
  top:50px;
  width:87px;
  height:19px;
  font-size:16px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:110px;
  top:50px;
  width:87px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:216px;
  top:50px;
  width:74px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:141px;
  top:449px;
  width:303px;
  height:80px;
  overflow:hidden;
}
#u42_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u42_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:80px;
  color:#333333;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:80px;
}
#u44 {
  position:absolute;
  left:2px;
  top:32px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:13px;
  top:12px;
  width:77px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:13px;
  top:50px;
  width:87px;
  height:19px;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:110px;
  top:50px;
  width:87px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:216px;
  top:50px;
  width:74px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:141px;
  top:529px;
  width:303px;
  height:80px;
  overflow:hidden;
}
#u53_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u53_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:80px;
  color:#333333;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:80px;
}
#u55 {
  position:absolute;
  left:2px;
  top:32px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:13px;
  top:12px;
  width:77px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:19px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:13px;
  top:50px;
  width:87px;
  height:19px;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:110px;
  top:50px;
  width:87px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:19px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:216px;
  top:50px;
  width:74px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
